body, h1, h2, h3, h4, h5{
  font-family: "Montserrat", sans-serif;
}
.search-field {
  outline: none;
  padding-bottom: 100px;
}
.search-box {
  position: relative;
  width: 40%;
  margin: auto;
  margin-top: 50px;
}

input#input-field {
  position: absolute;
  width: 100%;
  margin: auto;
  border: 1px solid #ff6a00;
  outline: none;
  border-radius: 3px;
  padding: 10px;
}

button#search-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #ff6a00;
  color: #fff;
  border-radius: 4px;
  line-height: 1;
  padding: 13px 18px;
  outline: none;
  border: 1px solid transparent;
  transition: .5s;
}
button#search-btn:hover {
  background-color: #fff;
  box-shadow: none;
  border: 1px solid #ff6a00;
  color: #ff6a00;
}

#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2%;
  text-align: center;
  width: 100%;
  margin: auto;
  justify-content: center;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
  border: 1px solid #dddddd;
  margin-bottom: 20px;
  border-radius: 5px;
}
.single-product:hover {
  border: 1px solid #ff6a00;
}

.showimg{
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
}
.single-product h3 {
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 5px;
  transition: .5s;
}

.single-product p {
  color: #6a6969;
  font-weight: 600;
}

.single-product i {
  color: #ff6a00;
  padding-left: 3px;
}

.single-product span {
  color: #ff6a00;
}

.single-product h3:hover{
  color: #ff6a00;
}

.single-product h2 {
  font-size: 20px;
  padding: 5px 0;
  color: #6a6969;
  font-weight: 500;
}

.buttons {
  padding: 10px 0;
}

button#addToCart-btn{
  border: 1px solid #dddddd;
  background-color: transparent;
  padding: 7px;
  outline: none;
  font-weight: 500;
  transition: .5s;
}
button#details-btn, .buynow-btn{
  background-color: #ff6a00;
  padding: 7px;
  outline: none;
  font-weight: 500;
  border: 1px solid #ff6a00;
  color: #ffffff;
  transition: .5s;
} 

button#addToCart-btn:hover{
  background-color: #ff6a00;
  border: 1px solid #ff6a00;
  color: #ffffff;

}
button#details-btn:hover, .buynow-btn:hover{
  background-color: #ffffff;
  border: 1px solid #dddddd;
  color: #ff6a00;
} 

button#addToCart-btn:hover i {
  color: #ffffff;
}

.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}

div#my-cart h1 {
  color: #ff6a00;
}

@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
